spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

sms:
  twilio:
    enabled: false

eureka:
  client:
    enabled: false
    
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

logging:
  level:
    root: warn