# DB Common Credentials
COMMON_DB_USER=testuser
COMMON_DB_PASSWORD=testpass

# keycloak admin credentials
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin1234

KEYCLOAK_HOST_NAME=host.docker.internal

# Redis
REDIS_PASSWORD=redis1234

# DB NAMES
KEYCLOAK_DB_NAME=keycloakdb

# DB HOST PORTS
KEYCLOAK_DB_HOST_PORT=5433

# APPLICATION PORTS
KEYCLOAK_HOST_PORT=8444
DISCOVERY_SERVER_HOST_PORT=8761
AUTH_SERVICE_HOST_PORT=8081

# MISC
EMAIL_CLIENT_ID=YOUR_OUTLOOK_EMAIL_CLIENT_ID_HERE
EMAIL_CLIENT_SECRET=YOUR_OUTLOOK_EMAIL_CLIENT_SECRET_HERE
EMAIL_SCOPE=YOUR_OUTLOOK_EMAIL_SCOPE_HERE
EMAIL_TENANT_ID=YOUR_OUTLOOK_EMAIL_TENANT_ID_HERE
EMAIL_USERNAME=YOUR_EMAIL_USERNAME
