spring:
  application:
    name: ApiGateway

  threads:
    virtual:
      enabled: true
      
  webflux:
    multipart:
      max-disk-usage-per-part: 5MB
      max-in-memory-size: 15MB
      max-parts: 4
    
  data:
    redis:
      host: localhost
      port: 6379
      password: redis1234
  cache:
    redis:
      key-prefix: api-gateway
 
  cloud:
    gateway:
      server:
        webflux:
          trusted-proxies: .*
          globalcors:
            cors-configurations:
              "[/**]":
                allowedOrigins:
                  - "*"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - PATCH
                  - OPTIONS
                allowedHeaders: "*"
                maxAge: 30
          routes:
          - id: auth-service
            uri: lb://AUTHSERVICE
            predicates:
              - Path=/auth/**, /auth-service/v3/api-docs
            filters:
              - name: RequestRateLimiter
                args:
                  key-resolver: "#{@ipKeyResolver}"
                  rate-limiter: "#{@redisRateLimiter}"

eureka:
  instance:
    prefer-ip-address: true

  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    path: /swagger-ui.html
    config-url: /v3/api-docs/swagger-config
    urls:
    - name: API Gateway
      url: /v3/api-docs
    - name: Auth Service
      url: /auth-service/v3/api-docs


server:
  port: 8443
  http2:
    enabled: true
  forward-headers-strategy: framework
  
management:
  endpoint:
    health:
      access: read-only
      probes:
        enabled: true
    metrics:
      access: read-only
  endpoints:
    web:
      exposure:
        include: health,prometheus
  metrics:
    tags:
      application: ${spring.application.name}

logging:
  level:
    '[com.netflix.discovery]': warn

